/* CSS Variables */
:root {
	/* Colors */
	--lighter-green: hsl(148, 38%, 91%);
	--medium-green: hsl(169, 82%, 27%);
	--red: hsl(0, 66%, 54%);
	--white: hsl(0, 0%, 100%);
	--grey-500: hsl(186, 15%, 59%);
	--grey-900: hsl(187, 24%, 22%);

	/* Font Family */
	--ff-karla: "Karla", sans-serif;
}

/* Base Styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a,
img,
span,
input,
select,
button,
textarea {
	display: block;
}

img {
	width: 100%;
	height: auto;
}

input,
select,
button,
textarea {
	background: none;
	border: none;
	font: inherit;
}

button {
	cursor: pointer;
}

input,
select,
textarea {
	width: 100%;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
	font-family: var(--ff-karla);
}

body {
	background-color: var(--lighter-green);
}

.main {
	padding-block: 2rem;
}

.container {
	background-color: var(--white);
	border-radius: 15px;
	max-width: 700px;
	width: 90%;
	margin-inline: auto;
	padding: 1.5rem;
}

.title {
	color: var(--grey-900);
	font-weight: 700;
	margin-bottom: 2rem;
}

label {
	color: var(--grey-900);
	font-weight: 700;
	font-size: 0.8rem;
	text-transform: capitalize;
	letter-spacing: 1px;
	margin-bottom: 0.5rem;
}

label:not(.inquery)::after,
.query > p:first-of-type::after {
	content: "*";
	color: var(--medium-green);
	margin-left: 0.25rem;
}

input[type="text"] {
	border: 1px solid var(--grey-500);
	border-radius: 5px;
	padding: 0.75rem;
	margin-block: 0.5rem 0.75rem;
	outline: none;
}

input[type="text"]:focus,
textarea:focus {
	outline: 1px solid var(--medium-green);
}

input[type="text"].error {
	outline: 1px solid var(--red);
}

.error {
	color: var(--red);
	font-size: 0.8rem;
	font-weight: 700;
	/* display: none; */
}

.name > div:first-child,
.name,
.email,
.query {
	margin-bottom: 1.5rem;
}

.query > p:first-of-type {
	margin-bottom: 1rem;
}

.query label,
.checkbox label {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 0.5rem;
}

.query label {
	border: 1px solid var(--grey-500);
	border-radius: 5px;
	padding: 1rem 0.5rem;
	cursor: pointer;
}

.checkbox {
	position: relative;
}

.checkbox label::after {
	display: none;
}

.checkbox span {
	color: var(--medium-green);
	display: inline-block;
}

input[type="radio"],
input[type="checkbox"] {
	width: 18px;
	height: 18px;
	accent-color: var(--medium-green);
}

.message,
.checkbox {
	margin-bottom: 2.5rem;
}

textarea {
	resize: none;
	border: 1px solid var(--grey-500);
	border-radius: 5px;
	padding: 0.75rem 0.5rem;
	margin-block: 0.5rem 0.75rem;
	outline: none;
}

button {
	background-color: var(--medium-green);
	color: var(--white);
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.75rem;
	border-radius: 5px;
	width: 100%;
	margin-top: 1rem;
	transition: 0.5s;
}

button:hover {
	background-color: var(--grey-900);
}

/* .error.show {
	display: block;
} */

.success-div {
	background-color: var(--grey-900);
	color: var(--white);
	width: 80%;
	max-width: 350px;
	padding: 0.75rem;
	border-radius: 7px;
	position: relative;
	top: 30px;
	margin-inline: auto;
}

#success-div {
	display: none;
}

.success-div > div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.success-div p {
	font-size: 12px;
	font-weight: 700;
}

@media (min-width: 700px) {
	.name,
	.query > div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.5rem;
	}

	.name > div:first-child {
		margin-bottom: 0;
	}
}
